*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-family: "Anta", sans-serif;
    font-weight: 900;
    font-style: normal;
}
/* ------------------------------------------------header----------------------------------------- */

 .advertising {
     background: rgb(45, 23, 141);
     color: white;
 }
 .wrapper, .advertising-english-btn {
    display: none;
 }
 .wrapper a i {
    color: white;
 }
.discount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 5%;
}

.discount1 {
    animation-name: discount-ani;
    animation-duration: 10s; /* Adjusted duration for a smoother transition */
    animation-iteration-count: infinite;
}
500px
@keyframes discount-ani {
    0% {
        opacity: 1;
        scale: 1 1;
    }
    20% {
        opacity: 1;
        scale: 1 1;
    }
    40% {
        opacity: 0;
        scale: 1 0.1;
    }
    60% {
        opacity: 0;
        scale: 1 0.1;
    }
    80% {
        opacity: 0;
        scale: 1 0.1;
    }
    100% {
        opacity: 0;
        scale: 1 0.1;
    }
}

.discount2 {
    position: absolute;
    opacity: 0;
    animation-name: discount2-ani;
    animation-duration: 10s; 
    animation-iteration-count: infinite;
}

@keyframes discount2-ani {
    0% {
        opacity: 0;
        scale: 1 0.1;
    }
    20% {
        opacity: 0;
        scale: 1 0.1;
    }
    40% {
        opacity: 0;
        scale: 1 0.1;
    }
    60% {
        opacity: 1;
        scale: 1 1;
    }
    80% {
        opacity: 1;
        scale: 1 1;
    }
    100% {
        opacity: 0;
        scale: 1 0.1;
    }
}

.fullnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: black;
    color: white;
}
.fullnav > * > * {
    padding: 5px;
}
.xmark {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: black;
    color: white;
    height: 100vh;
    left: -20%;
    transition: 2s;
    width: 20%;
    padding-top: 30vh;
    top: 0;
}
.fa-xmark {
    align-self: flex-end;
}
.xmark > * {
    text-decoration: none;
    padding: 10px;
    color: white;
}
@media screen and (max-width:767px)  {
    .hamburger-nav:hover .xmark {
        display: flex;
        left: 0;
    }
}

.headerschwarz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 5px;
    height: 15%;
}
.oberschrift{
    font-size: 1.5rem;
    justify-self: left;
    color: white
}
.oberschrift > * {
    margin: 10px;
}
.desktop-nav {
    display: none;
}
.bildcontainer {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.bild{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.ueber2{
    text-align: center;
    color: white;
    font-size: 3rem;
    
}
.imagebutton{
    color: aqua;
    font-size: 2rem;
    padding: 10px;
    background: blue;
    border-radius: 10px;
}
.topics {
    margin-top: 20px;
    font-size: 1.2rem;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topics2 {
    color: black;
    padding: 10px 15px;
    margin: 5px;
    background: lightgray;
    text-decoration-line: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 5%;
}
/* ------------------------------------------------main----------------------------------------- */
main {
    padding-bottom: 60px;
}
.produkte{
    margin: 15px;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: center;
    color: purple
}
.filter{
    
}
.filterrechts{
/* justify-self: end; */
}
.vor > * {
    /* display: flex; */
    display: inline;
    margin: 5px;
    font-size: 1.5rem;
}
.right {
    float: right;
}
.left {
    float: left;
}
.sub {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border-radius: 10px;
    background: silver;
    padding: 15px;
    margin: 5px;
}
.subcontainer {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subpic {
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid darkgray;
}
/* ------------------------------------------------footer----------------------------------------- */
.box {
    display: flex;
    flex-direction: column;
    background: blue;
    width: vw;
    height: 300px;justify-content: center;
    align-items: center;
    background: rgb(23,120,221);
    background: linear-gradient(147deg, rgba(23,120,221,1) 22%, rgba(2,0,36,1) 89%);
}
.form {
    margin: 10px;
}
.news {
        color: yellow;
}
.but {
    background: yellow;
}
section.service-logos {
    display: flex;
    flex-direction: column;
}
section.service-logos > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.service-logos > div > div {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-weight: bold;
}
section.service-logos > div > div > p {
    margin: 10px;
}

.unten {
   padding: 10px;
    background: black;
    color: white;
}
.footer-social-media {
    display: flex;
}
.footer-social-media > * {
    margin: 5px;
}
.credit-cards > * {
    font-size: 2rem;
    margin: 5px;
}
.bg-black {
    background: black;
}
.color-white {
    color: white;
}
.footer-policy {
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-policy a {
    text-decoration-line: none;
    color: white;
    margin: 15px;
}
.language-btn {
    background: lightgray;
    width: 30px;
    padding: 10px;
}
.copyright {
    padding: 40px 0 20px 10px;
}

.headerschwarz {}
.about {
    padding-top: 20px;
}
.pc {
    padding-top: 50px;
}
.footer-social-media {
    padding-top: 50px;
}
.ql, .new, .credit-cards, .footer-policy {
    padding-top: 50px;
}
input[type="email"] {
    padding: 10px;
    border-radius: 10px;
    border: none;
}
input[type="email"]::placeholder {
    font-family: sans-serif;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.but {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: sans-serif;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* ------------------------------------------------docs----------------------------------------- */

/* 
flex-docs

.parent {
    display: flex;        (essential for the other properties)
    flex-direction: ;
    justify-content: ;
    align-items: ;

    flex-wrap: ;
}
.child.ren {
    justify-self: ;
    align-self: ;
}

*/

@media screen and (min-width:768px) {
    .advertising {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrapper, .advertising-english-btn {
        display: block;
    }
    .wrapper {
        margin-left: 3%;
    }
    .advertising-english-btn {
        margin-right: 3%;
    }
    .hamburger-nav {
        color: black;
    }
    .fullnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .xmark {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 100%;
        margin-top: 3vh;
        background: black;
        left: 0;
        height: 10vh;
        width: 100%;
        transition: 0s;
        padding-top: 0;
        top: auto;
    }
    .active {
        border-bottom: 2px solid white;
    }
    .media-none {
        display: none;
    }
}


/* --------------------------site differents -------------------------------------*/